.popup {
  font-family: "Inter", Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  display: none;
  align-items: center;
  justify-content: center;

  z-index: 10;
}

.popup_opened {
  display: flex;
}

.popup__container {
  background-color: #ffffff;
  max-width: 430px;
  width: 100%;
  border-radius: 10px;
  padding: 34px 36px 36px;
  box-sizing: border-box;
  position: relative;
}

.popup__title {
  margin: 0 0 54px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  color: #000000;
}

.popup__form {
  display: flex;
  flex-direction: column;
}

.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 13px;
  margin-bottom: 5px;

  font-size: 14px;
  line-height: 17px;

  outline: none;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

.popup__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.popup__error {
  display: block;
  min-height: 30px;

  color: #ff0000;
  font-size: 12px;
  line-height: 15px;

  opacity: 0;
}

.popup__error_visible {
  opacity: 1;
}

.popup__button {
  width: 100%;
  height: 50px;

  margin-top: 48px;

  border: none;
  border-radius: 2px;

  background-color: #000000;
  color: #ffffff;

  font-size: 18px;
  line-height: 22px;

  cursor: pointer;

  transition: opacity 0.3s;
}

.popup__button:hover {
  opacity: 0.8;
}

.popup__button_disabled {
  background-color: #ffffff;
  color: #000000;
  opacity: 0.2;
  border: 1px solid #000000;
  cursor: not-allowed;
}

.popup__button_disabled:hover {
  opacity: 0.2;
}

.popup__close {
  width: 40px;
  height: 40px;

  position: absolute;
  top: -40px;
  right: -40px;

  border: none;
  background: transparent url("../images/close.svg") center no-repeat;
  background-size: contain;

  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

.popup__image-container {
  position: relative;
}

.popup__image {
  max-width: 75vw;
  max-height: 75vh;
  display: block;
}

.popup__caption {
  margin-top: 10px;

  color: #ffffff;
  font-size: 12px;
  line-height: 15px;
}

@media screen and (max-width: 620px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  }

  .popup__title {
    margin-bottom: 76px;

    font-size: 18px;
    line-height: 22px;
  }

  .popup__button {
    height: 46px;

    font-size: 14px;
    line-height: 17px;
  }

  .popup__close {
    width: 26px;
    height: 26px;

    top: -36px;
    right: 0;
  }
}
